/**
 * ABOUT STYLES
 */
.about-content {
    margin: 0 auto;
    max-width: 580px;
    padding-bottom: 40px;
    border-bottom: $border-style;
    text-align: center;

    .profile-container {
        float: none;
        margin: 0 auto;
        max-width: 222px;

        .profile {
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            display: block;
            max-width: 170px;
            margin: 0 auto;
            padding: 20px;
            border: 6px solid #454045;
        }
    }

    .about-me {
        padding: 10px 0 0 10px;
        margin: 0;

        & a {
            @include link;
        }
    }
}

@media only screen and (min-width: 53.125em) { /** 850px / 16px = 53.125em **/
    .about-content {
        padding-left: 100px;
        .profile-container {
            float: left;
        }

        .about-me {
            float: left;
            text-align: left;
            padding-top: 0;
        }
    }
}
