/**
 * VARIABLES 
 */
$twitter-color: #00bcf5;
$instagram-color: #cab7a5;
$pinterest-color: #cb2027;
$octocat-color: #000000;
$rdio-color: #008fd5;
$lastfm-color: #ffffff;
$tumblr-color: #c3ccd5;

$title-color: white;
$link-color: black;
$border-color: #e2e2e2;

$header-font: "quimby-mayoral",sans-serif;
$body-font: "museo-slab", serif;

$sidebar-background-image: url('../../img/green_gobbler.png');
$navigation-background-image: url('../../img/corrugation.png');

$border-style: 1px solid $border-color;


/**
 * REUSABLE CLASSES 
 */
.center {
    text-align: center;
}

.light {
    font-weight: 400;
}

.unstyled {
    @include unstyled-list;
}

.styled-link {
    a {
        @include link;
    }
}

.strikethrough {
    text-decoration: line-through;
}