/**
 * RESUME STYLES 
 */
.resume-section {
    border-bottom: $border-style;

    h3,
    h4  {
        text-align: center;
        margin-bottom: 0;
    }

    p {
        font-family: $body-font;
        font-style: normal;
        font-weight: 400;
        margin: 0;

        &.description {
            font-size: 0.9em;
            margin-bottom: 10px;
        }
    }

    .title {
         font-size: 1.4em;
         margin-bottom: 10px;
    }

    .experience {
        @include dashed-container;

        &:last-of-type {
            border-bottom: none;
        }

        .length {
            background-image: url('../../img/sprite_sheet.png'); 
            background-repeat: no-repeat;
            background-position: -300px 0;
            padding-left: 32px;
            margin: 0 auto;
            width: 68px;
            margin-top: 25px;
            line-height: 28px;
        }

        .skills {
            padding-left: 0;
            margin: 0 auto;

            li {
                display: block;
                text-align: center;
                margin-bottom: 15px;
            }
        }

        .skill {
            background-color: white;
            height: 10px;
            display: block;
            width: 100px;
            border: 1px solid black;
            margin: 0 auto;

            span {
                display: block;
                background-color: black;
                height: 10px;
            }

            .dabbler{ width: 20px; }
            .okay{ width: 40px; }
            .pretty-good{ width: 60px; }
            .good { width: 80px; }            
            .ninja { width: 100px; }
        }
    }

    .talks {
        @include dashed-container;

        p {
            text-align: center;
        }

        &:last-of-type {
            border-bottom: none;
        }

        .watch-link {
            display: block;
            line-height: 30px;
            text-decoration: underline;
            width: 100px;
            margin: 0 auto;
            clear: both;

            .video-icon {
                background-image: url('../../img/sprite_sheet.png'); 
                background-repeat: no-repeat;
                background-position: -200px 0;
                display: block;
                padding-right: 7px;
                float: left;
                width: 28px;
                height: 28px;
            }
        }
    }

    .contact {
        list-style-type: none;
        padding: 0 40px;

        li {
            height: 37px;
            border: $border-style;
            width: 100%;
            text-align: center;
            line-height: 37px;
            margin-bottom: 5px;
            background-image: linear-gradient(bottom, #E0E0E0 21%, #FFFFFF 61%);
            background-image: -o-linear-gradient(bottom, #E0E0E0 21%, #FFFFFF 61%);
            background-image: -moz-linear-gradient(bottom, #E0E0E0 21%, #FFFFFF 61%);
            background-image: -webkit-linear-gradient(bottom, #E0E0E0 21%, #FFFFFF 61%);
            background-image: -ms-linear-gradient(bottom, #E0E0E0 21%, #FFFFFF 61%);
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, #E0E0E0), color-stop(0.61, #FFFFFF));

            &:hover {
                cursor: pointer;
                background-image: linear-gradient(bottom, #D1D1D1 21%, #FFFFFF 61%);
                background-image: -o-linear-gradient(bottom, #D1D1D1 21%, #FFFFFF 61%);
                background-image: -moz-linear-gradient(bottom, #D1D1D1 21%, #FFFFFF 61%);
                background-image: -webkit-linear-gradient(bottom, #D1D1D1 21%, #FFFFFF 61%);
                background-image: -ms-linear-gradient(bottom, #D1D1D1 21%, #FFFFFF 61%);
                background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, #D1D1D1), color-stop(0.61, #FFFFFF));
            }
        }
    }
}

@media only screen and (min-width: 31.25em) { /** 500px / 16px = 31.25em **/
    .resume-section {
        .experience {
            .skills {
                width: 255px;

                li {
                    text-align: right;
                    margin-bottom: 0;
                }
            }

            .skill {
                float: right;
                margin: 4px 0 0 20px;
            }
        }
    }
}

@media only screen and (min-width: 53.125em) { /** 850px / 16px = 53.125em **/
    .resume-section { 
        .contact {
            width: 100px;
            margin: 0 auto;
            padding: 0;

            a {
                display: block;
                height: auto;
                float: left;
                width: 100%;
            }

            li {
                background-image: none;
                border: none;

                &:hover {
                    background-image: none;
                    border: none;
                }

                i {
                    padding: {
                        float: left;
                    }
                }

                .btn-label {
                    float: left;
                    text-align: center;
                    width: 100%;
                }
            }

            .call {
                display: none;
            }

            .icon-email,
            .icon-iphone {
                background: url('../../img/sprite_sheet.png') no-repeat;
                display: block;
                margin: 0 auto;
            }

            .icon-email {
                background-position: -100px 0;
                width: 72px;
                height: 70px;
            }

            .icon-iphone {
                background-position: 0 0;
                width: 98px;
                height: 68px;
            }
        }

        .description {
            max-width: 600px;
            margin: 0 auto;
        }
    }
}