/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/**
 * MIXINS 
 */
/**
 * VARIABLES
 */
/**
 * BLOG STYLES
 */
.posts li {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #e2e2e2;
  text-align: center; }
  .posts li .date {
    padding-right: 20px; }
  .posts li a {
    height: 100%;
    width: 100%;
    margin: 0;
    display: block; }

.post {
  font-weight: 400;
  width: 90%;
  margin: 0 auto; }
  .post h1 {
    margin: 0;
    font-weight: inherit;
    text-align: center; }
  .post .twitter-share-button {
    display: block;
    position: relative;
    padding-top: 12px;
    margin: 0 auto; }
  .post p {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: left; }
  .post img {
    max-width: 100%;
    text-align: center;
    margin: 10px 0; }
  .post .date {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10px; }
  .post ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .post li img {
    margin: 0 auto;
    display: block; }
  .post a {
    border-bottom: 1px dotted black; }
    .post a:hover {
      border-bottom: 1px dotted #7dff34;
      color: #7dff34; }

.posts.recent {
  padding-bottom: 40px;
  font-weight: normal; }
  .posts.recent li {
    border-bottom: none;
    height: 50px;
    line-height: 16px; }
  .posts.recent a:hover {
    text-decoration: underline; }

.recent-post {
  text-align: center;
  margin: 40px 0 20px 0; }

@media only screen and (min-width: 31.25em) {
  /** 500px / 16px = 31.25em **/
  .post {
    width: 70%; }

  .posts.recent {
    margin: 0 auto;
    max-width: 500px; } }
@media only screen and (min-width: 53.125em) {
  /** 850px / 16px = 53.125em **/
  .posts li {
    text-align: left;
    padding-left: 40px;
    border-bottom: none;
    height: 40px; }

  .post {
    padding-top: 30px;
    width: 60%;
    max-width: 600px; }
    .post p {
      line-height: 1.4em; }
    .post ul ul {
      margin-left: 40px; } }
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body {
  font-size: 1em;
  line-height: 1.4;
  margin: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**
 * GLOBAL STYLES
 */
body {
  font-style: normal;
  font-weight: 700; }

h2 {
  text-align: center;
  padding-top: 10px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:visited {
    text-decoration: none; }

/**
 * SITE STYLES
 */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Author Media Queries
   ========================================================================== */
@media only screen and (min-width: 31.25em) {
  /** 500px / 16px = 31.25em **/
  .sidebar {
    border-bottom: 12px #FF3434 solid; }

  ul.about {
    padding: 0 20%; } }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
