/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body {
  font-size: 1em;
  line-height: 1.4;
  margin: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* VARIABLES */
/* MIXINS */
body {
  font-family: "museo-slab", serif;
  font-style: normal;
  font-weight: 700; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: black;
    text-decoration: none; }
  a:visited {
    color: black;
    text-decoration: none; }

.center {
  text-align: center; }

.light {
  font-weight: 400; }

.sidebar {
  width: 100%;
  background-image: url("../../img/green_gobbler.png");
  color: white;
  padding: 5px 0 0 0;
  position: relative;
  border-bottom: 12px #6FE2FF solid; }

.title {
  font-family: "quimby-mayoral", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
  -webkit-transition: all 1s ease-out;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px; }
  .title a {
    text-decoration: none;
    color: white; }
    .title a:hover {
      -webkit-animation: colorblend;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-direction: normal;
      -webkit-animation-timing-function: ease-in-out;
      color: #CEFF51; }
    .title a:visited {
      color: white; }

.unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.styled-link a {
  color: #276170; }
  .styled-link a:hover {
    border-bottom: 1px dotted #276170; }

.strikethrough {
  text-decoration: line-through; }

@-webkit-keyframes colorblend {
  25% {
    color: #6FE2FF; }

  50% {
    color: #7DFF34; }

  75% {
    color: #FF3434; }

  100% {
    color: #CEFF51; } }

.navigation {
  background-image: url("../../img/corrugation.png");
  width: 100%;
  height: 100%;
  min-height: 100%;
  float: left;
  margin: 0;
  position: relative;
  margin-bottom: 20px; }

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both; }
  .nav li {
    height: 44px;
    border-bottom: 1px solid #e2e2e2;
    line-height: 44px;
    text-align: center; }
    .nav li:hover {
      background-color: rgba(226, 226, 226, 0.5);
      text-shadow: 1px 1px 1px white;
      cursor: pointer; }
  .nav a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    display: block; }

h2 {
  text-align: center;
  padding-top: 10px; }

ul.about {
  padding: 0 10%;
  font-weight: 400; }
  ul.about li {
    padding: 10px 0; }
    ul.about li a {
      color: #276170; }
      ul.about li a:hover {
        border-bottom: 1px dotted #276170; }

.about-content {
  margin: 0 auto;
  max-width: 580px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e2e2e2;
  text-align: center; }
  .about-content .profile-container {
    float: none;
    margin: 0 auto;
    max-width: 222px; }
    .about-content .profile-container .profile {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      display: block;
      max-width: 170px;
      margin: 0 auto;
      padding: 20px;
      border: 6px solid #454045; }
  .about-content .about-me {
    padding: 10px 0 0 10px;
    margin: 0; }
    .about-content .about-me a {
      color: #276170; }
      .about-content .about-me a:hover {
        border-bottom: 1px dotted #276170; }

/* BLOG */
.posts li {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #e2e2e2;
  text-align: center; }
  .posts li .date {
    padding-right: 20px; }
  .posts li a {
    height: 100%;
    width: 100%;
    margin: 0;
    display: block; }

.post {
  font-weight: 400;
  width: 90%;
  margin: 0 auto; }
  .post h1 {
    margin: 0;
    font-weight: inherit;
    text-align: center; }
  .post .twitter-share-button {
    display: block;
    position: relative;
    padding-top: 12px;
    margin: 0 auto; }
  .post p {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: left; }
  .post img {
    max-width: 100%;
    text-align: center;
    margin: 10px 0; }
  .post .date {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10px; }
  .post ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .post li img {
    margin: 0 auto;
    display: block; }
  .post a {
    border-bottom: 1px dotted black; }
    .post a:hover {
      border-bottom: 1px dotted #7dff34;
      color: #7dff34; }

.posts.recent {
  padding-bottom: 40px;
  font-weight: normal; }
  .posts.recent li {
    border-bottom: none;
    height: 50px;
    line-height: 16px; }
  .posts.recent a:hover {
    text-decoration: underline; }

.recent-post {
  text-align: center;
  margin: 40px 0 20px 0; }

/* RESUME */
.resume-section {
  border-bottom: 1px solid #e2e2e2; }
  .resume-section h3,
  .resume-section h4 {
    text-align: center;
    margin-bottom: 0; }
  .resume-section p {
    font-family: "museo-slab", serif;
    font-style: normal;
    font-weight: 400;
    margin: 0; }
    .resume-section p.description {
      font-size: 0.9em;
      margin-bottom: 10px; }
  .resume-section .title {
    font-size: 1.4em;
    margin-bottom: 10px; }
  .resume-section .experience {
    border-bottom: 1px dashed #e2e2e2;
    padding-bottom: 10px;
    width: 90%;
    margin: 0 5% 0 5%; }
    .resume-section .experience:last-of-type {
      border-bottom: none; }
    .resume-section .experience .length {
      background-image: url("../../img/sprite_sheet.png");
      background-repeat: no-repeat;
      background-position: -300px 0;
      padding-left: 32px;
      margin: 0 auto;
      width: 68px;
      margin-top: 25px;
      line-height: 28px; }
    .resume-section .experience .skills {
      padding-left: 0;
      margin: 0 auto; }
      .resume-section .experience .skills li {
        display: block;
        text-align: center;
        margin-bottom: 15px; }
    .resume-section .experience .skill {
      background-color: white;
      height: 10px;
      display: block;
      width: 100px;
      border: 1px solid black;
      margin: 0 auto; }
      .resume-section .experience .skill span {
        display: block;
        background-color: black;
        height: 10px; }
      .resume-section .experience .skill .dabbler {
        width: 20px; }
      .resume-section .experience .skill .okay {
        width: 40px; }
      .resume-section .experience .skill .pretty-good {
        width: 60px; }
      .resume-section .experience .skill .good {
        width: 80px; }
      .resume-section .experience .skill .ninja {
        width: 100px; }
  .resume-section .talks {
    border-bottom: 1px dashed #e2e2e2;
    padding-bottom: 10px;
    width: 90%;
    margin: 0 5% 0 5%; }
    .resume-section .talks p {
      text-align: center; }
    .resume-section .talks:last-of-type {
      border-bottom: none; }
    .resume-section .talks .watch-link {
      display: block;
      line-height: 30px;
      text-decoration: underline;
      width: 100px;
      margin: 0 auto;
      clear: both; }
      .resume-section .talks .watch-link .video-icon {
        background-image: url("../../img/sprite_sheet.png");
        background-repeat: no-repeat;
        background-position: -200px 0;
        display: block;
        padding-right: 7px;
        float: left;
        width: 28px;
        height: 28px; }
  .resume-section .contact {
    list-style-type: none;
    padding: 0 40px; }
    .resume-section .contact li {
      height: 37px;
      border: 1px solid #e2e2e2;
      width: 100%;
      text-align: center;
      line-height: 37px;
      margin-bottom: 5px;
      background-image: linear-gradient(bottom, #e0e0e0 21%, white 61%);
      background-image: -o-linear-gradient(bottom, #e0e0e0 21%, white 61%);
      background-image: -moz-linear-gradient(bottom, #e0e0e0 21%, white 61%);
      background-image: -webkit-linear-gradient(bottom, #e0e0e0 21%, white 61%);
      background-image: -ms-linear-gradient(bottom, #e0e0e0 21%, white 61%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, #e0e0e0), color-stop(0.61, white)); }
      .resume-section .contact li:hover {
        cursor: pointer;
        background-image: linear-gradient(bottom, #d1d1d1 21%, white 61%);
        background-image: -o-linear-gradient(bottom, #d1d1d1 21%, white 61%);
        background-image: -moz-linear-gradient(bottom, #d1d1d1 21%, white 61%);
        background-image: -webkit-linear-gradient(bottom, #d1d1d1 21%, white 61%);
        background-image: -ms-linear-gradient(bottom, #d1d1d1 21%, white 61%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, #d1d1d1), color-stop(0.61, white)); }

/** SOCIAL **/
.social-list {
  bottom: 0;
  display: block;
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  font-size: 2.2em; }
  .social-list li {
    float: left;
    opacity: 0.5;
    padding-right: 15px;
    padding-left: 15px;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    cursor: pointer; }
    .social-list li a {
      color: white;
      text-decoration: none; }
      .social-list li a i {
        display: block; }
      .social-list li a:visited {
        color: white; }
    .social-list li:last-child, .social-list li.last-item {
      width: 100%;
      padding-left: 0; }
    .social-list li:hover {
      opacity: 1.0;
      /* IE 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      /* IE 5-7 */
      filter: alpha(opacity=100); }
      .social-list li:hover .ss-twitter {
        color: #00bcf5; }
      .social-list li:hover .ss-instagram {
        color: #cab7a5; }
      .social-list li:hover .ss-pinterest {
        color: #cb2027; }
      .social-list li:hover .ss-octocat {
        color: black; }
      .social-list li:hover .ss-rdio {
        color: #008fd5; }
      .social-list li:hover .ss-lastfm {
        color: white; }
      .social-list li:hover .ss-tumblr {
        color: #c3ccd5; }

.social-label {
  display: none;
  font-size: 0.8em; }

footer {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 12px; }
  footer .rss-link {
    color: #276170;
    margin-right: 10px; }
    footer .rss-link:hover {
      border-bottom: 1px dotted #276170; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Author Media Queries 
   ========================================================================== */
@media only screen and (min-width: 31.25em) {
  /** 500px / 16px = 31.25em **/
  .social-list {
    width: 460px; }
    .social-list li:last-child, .social-list li.last-item {
      width: auto;
      padding-left: 15px; }

  .sidebar {
    border-bottom: 12px #FF3434 solid; }

  .resume-section .experience .skills {
    width: 255px; }
    .resume-section .experience .skills li {
      text-align: right;
      margin-bottom: 0; }
  .resume-section .experience .skill {
    float: right;
    margin: 4px 0 0 20px; }

  ul.about {
    padding: 0 20%; }

  .post {
    width: 70%; }

  .posts.recent {
    margin: 0 auto;
    max-width: 500px; } }
@media only screen and (min-width: 53.125em) {
  /** 850px / 16px = 53.125em **/
  .sidebar {
    min-height: 100%;
    max-width: 220px;
    padding-top: 20px;
    position: fixed;
    border-right: 12px #7DFF34 solid;
    clear: none; }

  .navigation {
    width: 100%;
    min-height: 0;
    height: 45px;
    margin-left: 232px;
    margin-bottom: 0px;
    float: none;
    position: fixed;
    top: 0;
    z-index: 99999999; }

  .nav {
    width: auto;
    border-bottom: 1px solid #e2e2e2; }
    .nav li {
      min-width: 100px;
      float: left;
      border-bottom: none;
      border-right-width: 1px;
      border-right-color: #e2e2e2;
      border-right-style: solid;
      padding: 0 20px 0 20px; }

  .social-list {
    position: fixed;
    padding-left: 36px;
    width: 220px;
    bottom: 0;
    display: block;
    font-size: 2em;
    text-align: left;
    margin-bottom: 10px; }
    .social-list li:hover:last-child, .social-list li:hover.last-item {
      padding-left: 10px; }
    .social-list li {
      float: none;
      transition: padding 0.1s ease-in-out, color 0.2s ease-out;
      -webkit-transition: padding 0.1s ease-in-out, color 0.2s ease-out; }
      .social-list li:hover {
        padding-left: 10px; }
        .social-list li:hover .social-label {
          visibility: visible; }
      .social-list li i {
        float: left;
        padding-top: 2px; }

  .social-label {
    float: left;
    padding-left: 10px;
    visibility: hidden;
    font-weight: normal;
    display: block; }

  .content_body {
    display: block;
    position: relative;
    width: auto;
    margin-left: 232px;
    padding-top: 55px; }
    .content_body h2 {
      margin: 0; }

  .posts li {
    text-align: left;
    padding-left: 40px;
    border-bottom: none;
    height: 40px; }

  .resume-section .contact {
    width: 100px;
    margin: 0 auto;
    padding: 0; }
    .resume-section .contact a {
      display: block;
      height: auto;
      float: left;
      width: 100%; }
    .resume-section .contact li {
      background-image: none;
      border: none; }
      .resume-section .contact li:hover {
        background-image: none;
        border: none; }
      .resume-section .contact li i {
        padding-float: left; }
      .resume-section .contact li .btn-label {
        float: left;
        text-align: center;
        width: 100%; }
    .resume-section .contact .call {
      display: none; }
    .resume-section .contact .icon-email,
    .resume-section .contact .icon-iphone {
      background: url("../../img/sprite_sheet.png") no-repeat;
      display: block;
      margin: 0 auto; }
    .resume-section .contact .icon-email {
      background-position: -100px 0;
      width: 72px;
      height: 70px; }
    .resume-section .contact .icon-iphone {
      background-position: 0 0;
      width: 98px;
      height: 68px; }
  .resume-section .description {
    max-width: 600px;
    margin: 0 auto; }

  .about-content {
    padding-left: 100px; }
    .about-content .profile-container {
      float: left; }
    .about-content .about-me {
      float: left;
      text-align: left;
      padding-top: 0; }

  .post {
    padding-top: 30px;
    width: 60%;
    max-width: 600px; }
    .post p {
      line-height: 1.4em; }
    .post ul ul {
      margin-left: 40px; }

  footer {
    width: auto;
    margin-left: 232px;
    height: 60px;
    padding-top: 20px; } }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
